<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vue 3 basics</title>
    <style>
      .box {
        background-color: purple;
        height: 200px;
        width: 200px;
      }
      .box.two {
        background-color: red;
        height: 200px;
        width: 200px;
      }
      .box.three {
        background-color: blue;
        height: 200px;
        width: 200px;
      }
      [v-cloak] {
        display: none;
      }
      input {
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <login-form />

      <hr />

      <button @click.prevent.stop="toggleBox">toggle box</button>
      <div v-if="isVisible" class="box"></div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            message: "Hello Vue 3!",
            isVisible: false,
          };
        },
        methods: {
          toggleBox: function () {
            this.isVisible = !this.isVisible;
          },
          greet(message) {
            console.log(this.message);
            // this.message = "Hello " + this.message;
          },
        },
      });

      app.component("login-form", {
        template: `
          <form @submit.prevent="handleSubmit">
            <h1>{{ title }}</h1>
            <input type="email" v-model="email" />
            <input type="password" v-model="password" />
            <button>Log in</button>
          </form>
        `,
        data() {
          return {
            title: "Login Form",
            email: '',
            password: ''
          };
        },
        methods: {
          handleSubmit() {
            console.log(this.email, this.password);
          },
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
